<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="member">
	<select id="idCheck" parameterType="String" resultType="int">
		SELECT COUNT(id) FROM tbl_member
		WHERE id = #{id}
	</select>
	
	<insert id="create" parameterType="com.swt.domain.member.MemberDTO">
		INSERT INTO tbl_member(id,pw,name,bir_yy,bir_mm,bir_dd,phone,email,zipcode,addr1,addr2)
		VALUES(#{id},#{pw},#{name},#{bir_yy},#{bir_mm},#{bir_dd},#{phone},#{email},#{zipcode},#{addr1},#{addr2})
	</insert>
	
	<update id="memUpdate" parameterType="com.swt.domain.member.MemberDTO">
		UPDATE tbl_member 
		SET name = #{name},
			phone = #{phone},
			email = #{email},
			zipcode = #{zipcode},
			addr1 = #{addr1},
			addr2 = #{addr2}
		WHERE id = #{id}
	</update>
	
	<!-- parameterType 안써도 무방하지만 써주는 게 좋음 DAO메서드 매개변수 안에 타입있어서 MemberDTO타입인거 앎  -->
	<!-- 전체값이 아니고 name값만 가져 옴 그래서 rersultType도 String -->
	<select id="login" parameterType="com.swt.domain.member.MemberDTO" resultType="String">
		SELECT name FROM tbl_member
		WHERE id=#{id} AND pw=#{pw}
	</select>
	
	<select id="viewMember" parameterType="String" resultType="com.swt.domain.member.MemberDTO">
		SELECT * FROM tbl_member
		WHERE id = #{id}
	</select>
	
	<update id="pwUpdate" parameterType="com.swt.domain.member.MemberDTO">
		UPDATE tbl_member 
			SET pw = #{pw}
		WHERE id = #{id}
	</update>
	<delete id="delete" parameterType="String">
		DELETE FROM tbl_member
		WHERE id = #{id}
	</delete>
</mapper>














