.header_menu{
	width: 80%;
	/* margin: 0 auto; */
	background-color: #252851;
	height: 35px;
	/*transition: .4s;*/
	
}
.header_logo{
	width: 80%;
	margin: 0 auto;
	background-color: white;
	border-left: 3px double #dee2e6;
    border-right: 3px double #dee2e6;
}
.header_nav{
	width: 80%;
	margin: 0 auto;
	background-color: #66395C;
	height: 77px;
}
.two_wrap{
	transition: .2s;
	margin: 0 auto;
	width: 100%;
	z-index:998;
}
.jbFixed_menu{
	position: relative;
	/* position: fixed; */
	/* top: 0px; */
	z-index: 999;
	left: 10%;
	
}

.inner_header_nav{
	width: 80%;
    float: left;
	margin: 0 350px; 
}
.inner_header_nav > li{
	float:right;
	
}
.inner_header_nav a{
	text-decoration: none;
	font-size: 16px!important; 
	text-align: center;
	float: left;
	height: 77px;
	display: inline-block;
	padding: 25px 10px;
	color: white!important;
}
.ihn:hover{
	background-color: #DAD6E3;
	color: #66395C;
}
.ihn_dot:hover{
	color: white!important;
}
header > a:not([href]):not([tabindex]) {
    color: #A7AFCC!important;
    text-decoration: none;
}

header > a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover {
	color: #252851;
    text-decoration: none;
	/* font-weight: bold; */
}
#step_url {
	font-size: 13px;
	line-height: 18px;
	color: #b30000;
	text-decoration: underline;
}


.header_member{
			float: right;
}
.header_member li{
	float:left;
	height: 35px;
}
#modal_member ul > li > a{
	color: #A7AFCC;
	text-decoration: none;
	line-height: 35px;
	padding: 0px 10px 0px 10px; 
	font-size: 13px; 
	height: 29px;
	display: inline-block; /* ★<a>는 항상 그 사이즈만큼만 줘야함. <li>사이즈야 맞춰줘야 hover했을때 손가락 뜸. <a>사이즈가 작으면 마우스 커서 올려도 손가락마우스버튼으로 안 바뀔 수 있음 */
	font-weight: bold;
    cursor: pointer;
    transition: color 0.4s linear;
	transition: background-color 0.4s linear; 
}
#modal_member > ul > li > a:hover{
	/* text-decoration: underline; */
	color: #252851;
}
/*header_menu의 로긴 cs센터 등등 */
#modal_member > ul > li:hover{
	background-color: #DAD6E3;
}
/*부트 스트랩 적용하고 수정된 부분 fix*/
header > a:not([href]):not([tabindex]) {
	color: #A7AFCC;
	cursor: pointer;
}
.btn:hover{
	color: white;
}

.inner_header{
	max-width: 1440px; 
	/* 해상도에 따라 사이즈가 다르게 나오니 크기가 큰 모니터에서도 짜부되지 않고 웹디의 의도대로 화면을 띄울수 있게 컨텐츠 내용 1440px 고정 모니터가 큰 경우 여백으로 채워서 컨텐츠가 다 늘어지지 않게 해줌*/
	margin: 0 auto;
	position: relative;
	background-color: white;
}

#logo{
	padding-left: 32%;
	padding-right: 32%;
	max-width: 100%;
}
#dropdown1 {
	position: relative;
}
.dropdown2 { 
	position: absolute;
	display: block;
	top: 77px;
    width: 110px;
	color: white;
	background-color: #66395C;
	z-index: 999;
	box-shadow: 0 6px 8px rgb(105, 109, 152);
	display: none;  	
}
.dropdown2 > a {
	text-align: left;
	display: inline-block;
	width: 110px;
	box-sizing: border-box;
}
#dropdown1:hover .dropdown2{
	display: block;
	opacity: 0.8;
}
.dropdown2 > a:hover{
	background-color: #696D98;
}

.mydrop1 {
	position: relative;
	
}
.mydrop1:hover #mydrop2 {
	display: block;
}
#mydrop2 {
	position: absolute;
	display: block;
	top: 35px;
    width: 69.14px;
    height: auto;
    color: black;
    background-color: #DAD6E3;
    opacity: 0.8;
    text-align: center;
	z-index: 99;
	box-shadow: 0 6px 12px rgba(126, 99, 164, 0.3);
	display: none;	
}
#mydrop2 > a {
    text-align: center;
    box-sizing: border-box;
    color: #A7AFCC;
    font-weight: bold;
    display: block;
    height: 30px;
}
#mydrop2 > a:hover{
	background-color: #696D98;
	color: #DAD6E3;
}


/* 로그인 모달창 */
#modal_all {
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: auto; /* 넘어가면 스크롤 만들어줌  */
	background-color: rgba(0,0,0,0.4);
	align-items: center;
	justify-content: center;
	display: none;
}
#modal {
	background-color: white;
	
	border-radius: 3px;
	/* border: 1px solid black; */
	box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1),
				0 3px 15px 0 rgba(0,0,0,0.05);  
}
.btn_info {
	font-family: 'Noto Serif KR', serif;
	font-weight: 700;

}
#wrap{
	width: 370px;
	height: 440px;
	/* border: 1px solid blue; */
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
}
.custom-control-label {
	font-size: 0.85em;
	margin-bottom: 15px;
}
/*switch버튼*/
.custom-switch {
	padding-left: 3.3rem!important;
    float: left;
    margin-top: 5px;
}
.custom-control-input:checked~.custom-control-label::before {
	color: #fff;
    border-color: #252851;
    background-color: #252851;
}

/* 모달 창 닫기 버튼  */
#close_btn {
	position: absolute;
	top: 0;
	left: 100%;
	background-color: #252851;
	color: #696D98;
	border: none;
	width: 30px;
    height: 30px;
    outline: none;
    box-shadow: 0 3px 10px 0 rgba(0,0,0,0.1),
				0 3px 15px 0 rgba(0,0,0,0.05); 
}
#login_form{
	position: relative;
	margin-top: 45px;
	top: 25px;
}
#swt_content{
	margin: 10px auto;
	height: 400px;
	text-align: center;
}

#login_area {
	width: 270px;
	height: 400px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}
#login_logo {
	position: absolute;
	top: 50px;
}
#login_logo > img{
	width: 240px;
    height: 100px;
    position: relative;
    bottom: 35px;
    left: 3px;
}

#loginInfo {
	color: white;
	font-size: 14px;
	font-weight: bold;
	text-decoration: none;
	line-height: 35px;
	padding: 0px 10px 0px 10px; 
	/* 나중에 로그인 올리면 색깔변하게 할거라 margin보다는 padding이 더 예쁨 */
	height: 35px;
	display: inline-block; /* ★<a>는 항상 그 사이즈만큼만 줘야함. <li>사이즈야 맞춰줘야 hover했을때 손가락 뜸. <a>사이즈가 작으면 마우스 커서 올려도 손가락마우스버튼으로 안 바뀔 수 있음 */
}
#loginInfo:hover{
	color: #252851;
}

.idpw {
	padding: 10px 12px;
	margin-bottom: 12px;
	font-size: 15px;
	font-weight: normal;
	width: 240px;
	height: 40px;
	line-height: 22px;
	outline: none;
	/* outline제어하기 힘들어서 보통 none을 줘서
	없애버림. (input태그 쓰면 자동으로 생기면
	테두리) outline없애고 border로 만듦.*/
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	background-color: white;
	color: #333;
	
}
#login_form > img {
	display: inline-block;/* 사이즈조절 가능해짐 */
    width: 25px;
    height: 25px;
    position: absolute;
    top: 8px;
    right: 25px;
    /* top 0 left 0줘보면 어디를 기준으로 잡고 있는지 볼 수 있음  */
}
#remember {
	margin: -1px 0 16px;
	text-align: left;
}
#remember > input {
	color: #333;
	margin: 3px 3px 3px 4px;
	vertical-align: middle;
}
#remember > label {
	font-size: 13px;
	
}

#right {
	display: inline-block;
    position: relative;
    top: 15px;
    border-top: 1px solid #e5e5e5;
    right: 5px;
    padding: 2px 10px;
}
#right > a {
	color: #777;
}
#right > a:hover {
	font-weight: 500;
	text-decoration: underline;
}
.right_bar { /* border-right 로도 칸막이 만들 수 있음 */
	display: inline-block;
	font-size: 15px;
	color: #ccc;
	margin: 0 4px;
} 
/* LOGIN 버튼  */
.login-btn {
	font-size: 1.2em;
	background-color: #252851;
	color: white;
    border: 3px double #696D98;
	font-family: 'Noto Serif KR', serif;
	border-radius: 5px;
	text-transform: uppercase;
	padding: 8px 18px;
	min-width: 240px; /* 최소너비 */ 
	margin: 15px;
	transition: color 0.4s linear; /* linear : 골고루 시간 분배  */
	transition: background-color 0.4s linear;
	position: relative;
}
.login-btn:hover {
    color: #555555;
    background-color: #f8f9fa;
    border: 3px double #252851;
    outline: none;
}
/* top 버튼 */
#topBtn {
	position: fixed;
	bottom: 40px;
	right: 40px;
	font-size: 22px;
	width: 60px;
	height: 60px;
	color: white;
	border: 3px double #828db0;
	cursor: pointer;
	box-shadow: 4px 0px 3px rgba(8, 8, 8, 0.2);
	transform: rotate(45deg);
    transition: 0.2s;
	outline: none;
	display: none;
	background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
}
#topBtn i {
	transition: .3s;
	transform: rotate(315deg);
	font-size: 1.35em;
}
#topBtn:hover {
	color: #a8b6c4;
	background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
#topBtn:hover i {
	transform: scale(1.3);
	transform: rotate(315deg);
}
/* 검색 버튼 */
#search_box {
	position: absolute;
	left: 79%;
	top: 5px;
	background-color: transparent;
}

#header_search_btn {
	float: right;
	position: absolute;
	left: 150px;
    top: 15px;
	cursor: pointer;
}

.fa-search:before {
	font-size: 30px;
	color: white;
}

.search_txt {
	border: none;
    border-bottom: 1px solid #dadada;
    color: white;
	background: none;
	outline: none;
	float: left;
	font-weight: bold;
	font-size: 22px; 
	transition: 0.4s;
	line-height: 40px;
	padding: 0 6px;
	width: 200px;
    height: 55px;
}
#searchtxt{
	display: none;
	transition: display 0.4s;
}

