<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 다른 mapper와 중복되지 않도록 네임스페이스 기재 -->
<mapper namespace="pdt">
	<!-- 베스트 상품 목록 : 나는 이거 안 쓰고 있음 -->
	<select id="bestList" resultType="com.swt.domain.product.ProductDTO">
		 <![CDATA[
		 	SELECT * 
			FROM (SELECT * FROM tbl_product
			      ORDER BY p_good DESC)
			WHERE rownum <= 5
		 ]]>
	</select>
	<!-- 신상품 목록 : 나는 이거 안 쓰고 있음 -->
	<select id="newList" resultType="com.swt.domain.product.ProductDTO">
		<![CDATA[
		 	SELECT * 
			FROM (SELECT * FROM tbl_product
			      ORDER BY p_indate DESC)
			WHERE rownum <= 5
		 ]]>
	</select>
	
	<select id="teaList" parameterType="String" resultType="com.swt.domain.product.ProductDTO">
		SELECT * FROM tbl_product WHERE p_type=#{p_type}
	</select>
	
	<select id="view" resultType="com.swt.domain.product.ProductDTO">
		SELECT * FROM tbl_product WHERE p_code=#{p_code}
	</select>
</mapper>